*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 100vw;
    height: 7vh;
}
.header_top{
    width: 100vw;
    height: 7vh;
    background-color: #004e71;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
}
.header_top_left{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_unbounce{
    width: 8vw;
}
.p_header_top{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    color: white;
}
.btn_preview{
    width: 11vw;
    height: 5.5vh;
    font-size: 0.6rem;
    margin-right: 5vw;
    color: white;
    background-color: #e87c25;
    border: 1px solid white;
}
main{
    width: 100vw;
    height: auto;
}
.main_a{
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
}
.main_b{
    width: 100vw;
    height: 31vh;
    background-color: #0077f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_c{
    width: 100vw;
    height: 66vh;
}
.main_d{
    width: 100vw;
    height: 58vh;
    background-color: #0077f9;
}
footer{
    width: 100vw;
    height: 13vh;
    background-color: #094f71;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.logo_unbounce_footer{
    width: 9vw;
}
.p_footer{
    font-size: 0.5rem;
    color: white;
}
.backg_form{
    width: 100vw;
    height: 50vw;
    border-radius: 8%;
    rotate: 60deg;
    position: relative;
    top: -60%;
    right: 13%;
    background-color: #eaeff1;
}
.human_sml{
    width: 20vw;
    position: relative;
    right: 20vw;
}
.main_a_text_mid{
    width: 90vw;
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    right: 20vw;
    color: #094f71;
    align-self: center;
    text-align: left;
    /* border: 2px solid red; */
    padding: 0;
    z-index: 1;
}
h1{
    font-weight: 600;
    font-size: 2.1rem;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    color: white;

}
.line_height{
    line-height: 3.5vh;
}
.p_1{
    color: #749cb0;
    font-size: 1.1rem;
}
.p_0-8{
    color: #749cb0;
    font-size: 0.8rem;
}
.p_0-8_italic{
    color: #749cb0;
    font-size: 0.8rem;
    font-style: italic;
}
.main_b_container{
    width: 40%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.btn_box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.btn_start{
    font-size: 1rem;
    font-weight: 600;
    width: 18vw;
    height: 8vh;
    margin: 5px;
    background-color: white;
    color: #0077f9;
}
.btn_start_label{
    font-size: 0.7rem;
    color: white;
}